@media screen and (max-width: 1000px) {
    header {
        .nav-container {
            label {
                margin-right: 20px;
                display: block;
                cursor: pointer;
                img {
                    display: block;
                    margin: 10px;
                }
            }
            nav {
                margin-left: -100%;
                position: absolute;
                top: 70px;
                background-color: white;
                width: 100%;
                transition: all 0.3s ease-in-out;
                ul {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    li {
                        border-top: 1px solid #686868;
                        a {
                            padding: 14px 0;
                        }
                    }
                    li:last-child {
                        box-shadow: 0 3px 5px -2px $secondary-color;
                    }
                }
                
            }
            #icon-menu:checked ~ nav{
                margin-left: 0;
            }
        }
    }

    main{ 
        .servicios {
            .serv-container {
                .serv-img {
                    justify-content: space-around;
                    flex-wrap: wrap;
                    .serv-card {
                        width: 40%;
                        margin-bottom: 10px;
                    }
                }
            }
        }  
        .productos {
            .prod-container {
                .prod-img {
                    flex-wrap: wrap;
                    justify-content: space-around;
                    .prod-card {
                        width: 35%;
                    }
                }
            }
        }
    }

    footer {
        .footer-container {
            .consultas-redes {
                .redes {
                    .redes-icons {
                        width: 220px;
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 768px) {
    main{ 
        .nosotros {
            .nosot-container {
                flex-direction: column;
                align-items: center;
                .nosot-text {
                    width: 90%;
                    text-align: justify;
                    p {
                        width: 100%;
                        padding: 0;
                    }
                }
                .nosot-img {
                    width: 90%;
                }
            }
        }
        .servicios {
            .serv-container {
                .serv-text {
                    width: 90%;
                    margin: auto;
                    p {
                        padding: 18px 0;
                    }
                }
                .serv-img {
                    width: 90%;
                    margin: auto;
                    padding: 0;
                    .serv-card {
                        width: 330px;
                        .card-face {
                            h3 {
                                margin: 0 5px;
                            }
                        }
                    }
                }
            }
        }  
        .productos {
            .prod-container {
                .prod-text {
                    width: 90%;
                    margin: auto;
                    p {
                        padding: 18px 0;
                    }
                }
                .prod-img {
                    flex-wrap: wrap;
                    justify-content: space-around;
                    .prod-card {
                        width: 45%;
                    }
                }
            }
        }
    }

    footer {
        .footer-container {
            flex-direction: column;
            @include flex(flex, none, center);
            .horario {
                width: 100%;
                text-align: center;
                margin-bottom: 30px;
                .horario-title {
                    margin: 0;
                }
            }
            .info-contacto {
                width: 100%;
                text-align: center;
                margin-bottom: 30px;
                .info {
                    .title {
                        margin: 0;
                    }
                }
            }
            .consultas-redes {
                width: 100%;
                text-align: center;
                .redes {
                    .redes-icons {
                        width: 250px;
                        margin: auto;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    main {
        .productos {
            .prod-container {
                .prod-img {
                    .prod-card {
                        width: 270px;
                        height: 390px;
                        .card-front {
                            img {
                                width: 70%;
                            }
                        }
                    }
                }
            }
        }
    }

    .wsp-button {
        width: 58px;
        height: 58px;
        bottom: 20px;
        right: 20px;
        a {
            border-radius: 40px;
            img {
                width: 40px;
            }
            p {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    main {
        .nosotros {
            .title {
                img {
                    width: 40px;
                }
            }
            .nosot-container {
                .nosot-text {
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
        .servicios {
            .title {
                img {
                    width: 40px;
                }
            }
            .serv-container {
                .serv-text {
                    p {
                        font-size: 16px;
                        padding: 0px 0 18px 0;
                    }
                }
            }
        }
        .productos {
            .title {
                img {
                    width: 40px;
                }
            }
            .prod-container {
                .prod-text {
                    p {
                        font-size: 16px;
                        padding: 0;
                        margin: 16px 0 0 0;
                    }
                }
            }
        }
        .contacto {
            .title {
                img {
                    width: 40px;
                }
            }
        }
    }
}