@import "variables";

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    overflow: hidden;
    .nav-container {
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 70px;
        box-shadow: 0 1px 5px $secondary-color;
        background-color: white;
        @include flex(flex, space-between, center);
        .logo {
            width: 200px;
            padding: 15px 30px 0 30px;
            @extend %centrar;
            img {
                width: 100%;
            }
        }
        input {
            display: none;
        }
        label {
            display: none;
            img {
                width: 35px;
                height: 35px;   
            }
        }
        nav {
            ul {
                margin: 0;
                padding: 0;
                @include flex(flex, space-between, none);
                li {
                    list-style: none;
                    color: $word-color;
                    transition: 0.3s;
                    a {
                        display: block;
                        padding: 15px 20px;
                        text-decoration: none;
                        color: inherit;
                        font-weight: bold;
                    }
                }
                li:hover {
                    background-color: $main-color;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }

    .banner {
        margin-top: 70px;
        img {
            width: 100%;
            max-height: 700px;
            object-fit: cover;
            object-position: bottom;
        }
    }
}

main {
    @include flex(flex, none, center);
    flex-direction: column;

    .nosotros {
        width: 90%;
        max-width: 1100px;
        opacity: 0;
        transition: all 0.5s;
        .title {
            margin-top: 50px;
            display: flex;
            color: $word-color;
            img {
                width: 50px;
                padding-right: 20px;
            }
        }
        .nosot-container {
            display: flex;
            .nosot-text {
                width: 50%;
                p {
                    width: 70%;
                    padding-left: 70px;
                    font-size: 18px;
                    line-height: 26px;
                    color: $word-color;
                }
            }
            .nosot-img {
                width: 50%;
                height: 300px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                    border-radius: 20px;
                }
            }
        }
    }

    .servicios {
        width: 90%;
        max-width: 1100px;
        opacity: 0;
        transition: all 0.5s;
        .title {
            margin-top: 70px;
            display: flex;
            color: $word-color;
            img {
                width: 50px;
                padding-right: 20px;
            }
        }
        .serv-container {
            width: 100%;
            .serv-text {
                p {
                    padding: 18px 70px 18px 70px;
                    font-size: 18px;
                    line-height: 26px;
                    color: $word-color;
                }
            }
            .serv-img {
                padding: 0 70px;
                @include flex(flex, space-between, none);
                @extend %serv-card;
                .serv-img-disenio {
                    .card-front {
                        background-image: url(../assets/images/disenio-3d.jpeg);
                    }
                }
                .serv-img-impresion {
                    .card-front {
                        background-image: url(../assets/images/impresion-3d.jpeg);
                    }
                    .card-back {
                        p {
                            margin-bottom: 0;
                        }
                    }
                }
                .serv-img-soluciones {
                    .card-front {
                        background-image: url(../assets/images/soluciones-tecnologicas.jpeg);
                    }
                }
                .serv-img-proyectos {
                    .card-front {
                        background-image: url(../assets/images/proyectos-educativos.jpeg);
                    }
                }
            }
            .serv-lb {
                @extend %lb-serv;
                overflow: auto;
                .lb-disenio-container {
                    background-color: rgba(0, 0, 0, 0.5);
                    min-height: 100%;
                    @extend %centrar;
                    display: none;
                    .lb-disenio {
                        position: relative;
                        width: 800px;
                        max-width: 90%;
                        margin: 100px 0 30px 0;
                        padding: 20px 50px 40px 50px;
                        box-sizing: border-box;
                        border-radius: 10px;
                        background-color: white;
                        button {
                            @extend %button-off;
                        }
                        h3 {
                            text-align: center;
                            font-size: 24px;
                            color: $word-color;
                        }
                        h4 {
                            color: $word-color;
                            font-size: 20px;
                        }
                        .lb-disenio-contents-sw {
                            display: flex;
                            margin-bottom: 60px;
                            gap: 25px;
                            .lb-disenio-text {
                                width: 50%;
                                line-height: 24px;
                                color: $word-color;
                            }
                            .lb-disenio-img {
                                width: 50%;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                        .lb-disenio-contents-ac {
                            display: flex;
                            margin-bottom: 60px;
                            gap: 30px;
                            .lb-disenio-text {
                                width: 50%;
                                line-height: 24px;
                                color: $word-color;
                            }
                            .lb-disenio-img {
                                width: 50%;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                        .iframe-container {
                            @extend %iframes;
                        }
                    }
                }
                .lb-impresion-container {
                    background-color: rgba(0, 0, 0, 0.5);
                    min-height: 100%;
                    @extend %centrar;
                    display: none;
                    .lb-impresion {
                        position: relative;
                        width: 800px;
                        max-width: 90%;
                        margin: 100px 0 30px 0;
                        padding: 20px 0 30px 0;
                        border-radius: 10px;
                        background-color: white;
                        text-align: center;
                        color: $word-color;
                        button {
                            @extend %button-off;
                        }
                        h3 {
                            font-size: 24px;
                        }
                        .lb-impresion-contents {
                            width: 100%;
                            height: 1894.5px;
                            max-height: 201.75vw;
                            padding: 20px 0 35px 0;
                            box-sizing: border-box;
                            background-image: url(../assets/images/lb-background.png);
                            background-position: center center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            display: grid;
                            grid-template-columns: 1fr 0.9fr 1fr;
                            grid-template-rows: repeat(6,1fr);
                            .lb-impresion-box {
                                @extend %centrar;
                                flex-direction: column;
                                text-align: center;
                                h4 {
                                    font-size: 20px;
                                    color: $word-color;
                                    text-shadow: none;
                                }
                                p {
                                    margin: 0;
                                    padding: 0 10px;
                                    line-height: 20px;
                                }
                                img {
                                    width: 70%;
                                }
                                ul {
                                    margin: 0;
                                    padding: 0;
                                }
                            }
                        }
                        h4 {
                            color: $word-color;
                            font-size: 20px;
                        }
                        .iframe-box {
                            padding: 0 30px;
                            .iframe-container {
                                @extend %iframes;
                                margin-bottom: 30px;
                            }
                        }
                        
                    }
                }
                .lb-proyectos-container {
                    background-color: rgba(0, 0, 0, 0.5);
                    min-height: 100%;
                    @extend %centrar;
                    display: none;
                    .lb-proyectos {
                        position: relative;
                        width: 800px;
                        max-width: 90%;
                        margin: 100px 0 30px 0;
                        padding: 20px 50px 40px 50px;
                        border-radius: 10px;
                        box-sizing: border-box;
                        background-color: white;
                        color: $word-color;
                        button {
                            @extend %button-off;
                        }
                        h3 {
                            text-align: center;
                            font-size: 24px;
                            color: $word-color;
                        }
                        h4 {
                            color: $word-color;
                            font-size: 20px;
                        }
                        .lb-proyectos-contents-colegios {
                            display: flex;
                            gap: 25px;
                            .lb-proyectos-text {
                                width: 50%;
                                line-height: 24px;
                                color: $word-color;
                            }
                            .lb-proyectos-img {
                                width: 50%;
                                img {
                                    width: 100%;
                                    height: 90%;
                                }
                            }
                        }
                        .lb-proyectos-contents-uninversidades {
                            display: flex;
                            gap: 25px;
                            .lb-proyectos-text {
                                width: 50%;
                                line-height: 24px;
                                color: $word-color;
                            }
                            .lb-proyectos-img {
                                width: 50%;
                                img {
                                    width: 100%;
                                    height: 90%;
                                    object-fit: cover;
                                }
                            }
                        }
                        .iframe-container {
                            @extend %iframes;
                        }
                    }
                }
                .show-servicio {
                    display: flex;
                }
            }
            .show {
                display: block;
            }
        }
    }

    .productos {
        width: 90%;
        max-width: 1100px;
        opacity: 0;
        transition: all 0.5s;
        .title {
            margin-top: 70px;
            display: flex;
            color: $word-color;
            img {
                width: 50px;
                padding-right: 20px;
            }
        }
        .prod-container {
            .prod-text {
                p {
                    padding: 18px 70px 18px 70px;
                    font-size: 18px;
                    line-height: 26px;
                    color: $word-color;
                }
            }
            .prod-img {
                display: flex;
                @extend %prod-card;
            }
        }
    }

    .contacto {
        width: 90%;
        max-width: 1100px;
        .title {
            margin-top: 70px;
            margin-bottom: 30px;
            display: flex;
            color: $word-color;
            img {
                width: 50px;
                padding-right: 20px;
            }
        }
    }

    .efectoSeccion {
        animation: mostrar 2s;
    }

    @keyframes mostrar {
        0% {transform: translateX(-100px);}
        100% {transform: translateX(0);}
    }
}

footer {
    background-color: $main-color;
    padding-bottom: 40px;
    .footer-container {
        width: 90%;
        max-width: 1000px;
        margin: auto;
        padding: 30px 0;
        color: white;
        @include flex(flex, space-between, flex-start);
        .horario {
            width: 30%;
            .horario-title {
                font-weight: bold;
                margin-bottom: 10px;
            }
            p {
                margin: 0;
                line-height: 28px;
            }
        }
        .info-contacto {
            width: 30%;
            .info {
                .title {
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                p {
                    margin: 0;
                    line-height: 28px;
                }
            }
            .telefono {
                margin-bottom: 30px;
            }
        }
        .consultas-redes {
            width: 30%;
            .consultas {
                p {
                    font-weight: bold;
                    margin: 0;
                    line-height: 28px;
                }
                a {
                    #consultar {
                        @extend %button;
                        background-color: $secondary-color;
                        transition: 0.1s;
                        height: 34px;
                        width: 124.672px;
                        padding: 0;
                        box-sizing: border-box;
                    }
                    #consultar:hover {
                        background-color: rgb(38, 132, 255);
                        border: 2px solid white;
                    }
                }
            }
            .redes {
                p {
                    font-weight: bold;
                }
                .redes-icons {
                    width: 250px;
                    @include flex(flex, space-between, center);
                    .icon {
                        background-color: white;
                        width: 50px;
                        height: 50px;
                        border-radius: 30px;
                        @extend %centrar;
                        img {
                            width: 26px;
                            transition: 0.1s;
                        }
                    }
                    .icon:hover img{
                        width: 30px;
                    }   
                }
            }
        }
    }
}

.wsp-button {
    width: 220px;
    height: 40px;
    position: fixed;
    z-index: 100;
    bottom: 20px;
    right: 0px;
    a {
        height: 100%;
        background-color: #2BB741;
        border-radius: 20px 0 0 20px;
        text-decoration: none;
        @extend %centrar;
        transition: 0.1s;
        img {
            width: 25px;
            transition: 0.1s;
        }
        p {
            font-size: 14px;
            color: white;
            padding-left: 10px;
            transition: 0.1s;
        }
    }
    a:hover {
        background-color: #28d843;
    }
}

@import "queries";